.header {
  border: 2px solid blue;
  background-color: black;
  padding: 0 20px 0 20px;
  display: flex;
}
.logo {
  height: 50px;
}
.list {
  width: 600px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

a {
  color: white;
}
